.courseDiv{
     padding: 10px;
     box-shadow: 0px 0px 5px gray;
     width: 900px;
     margin-top: 10px;
}

.courseLable{
    color: green;
    font-size: 30px;
    position: relative;
    left: 170px;
}
.courseButton{
     color: burlywood;
     padding: 5px;
     position: relative;
     top: 50%;
     left: 30%;
}
.courseInput{
    position: relative;
    left: 200px;
}
